[submodule "native/audiocpp"]
	path = native/audiocpp
	url = https://github.com/vieenrose/audio.cpp
	branch = nemo-x-asr-diarizer
[submodule "native/crispasr"]
	path = native/crispasr
	url = https://github.com/vieenrose/CrispASR
	branch = nemo-x-asr-diarizer
[submodule "native/crispasr-ggml"]
	path = native/crispasr-ggml
	url = https://github.com/vieenrose/ggml
[submodule "native/sentencepiece"]
	path = native/sentencepiece
	url = https://github.com/google/sentencepiece.git
